body {
    text-align: center;
}

.square {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #f1f1d5;
    border: 1px solid gray;
}

.player1 {
    position: relative;
}

.player1::after {
    position: absolute;
    content: "\1F921";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.player2 {
    position: relative;
}

.player2::after {
    position: absolute;
    content: "\1F47A";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


